<!DOCTYPE html>
<html>
<head>
  <title>RMvcNet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Employee", employees_path %>
<%= link_to "Branch", branches_path %>
<%= link_to "Job Type", job_types_path %>
<%= yield %>

</body>
</html>
